body{background-color: burlywood;}
nav{position: fixed; background-color: brown; width: 100%; top: 0px;z-index: 3;}
ul{display: flex; flex-wrap: wrap;
justify-content: space-between; position: relative; left: 150px; width: 80%;}
 li{display: inline-block; text-decoration: none;}
 li a {text-decoration: none; font-size: 30px; font-weight: bolder;}

 section{display: flex; flex-wrap: wrap;}
#items{font-size: 40px; text-align: center; position: relative;top: 45px; z-index: -1;}
 section article { width: 24.4%; text-align: center; border: steelblue 2px solid; margin-bottom: 5px; margin-right: 5px;}
 #articales {position: relative; top: 20px;}
 article img{width: 100%;}
 article h1 {border: solid black 1px; background-color: darkolivegreen;color: white; font-size: 25px;}
 article p {border: black solid 1px; background-color: darkolivegreen; color: white;}
 
